$baseFontSize : 20 !default;
$white : #fff;
$ccc : #ccc;
$c333 : #333;
$black: #000;
$orange : #fdb12a;
/**/

@mixin transition($value...) {
    -webkit-transition: $value;
    transition: $value;
}

@mixin transform($value...) {
    -webkit-transform: $value;
    transform: $value;
}

@mixin animation($value...) {
    -webkit-animation: $value;
    animation: $value;
}

@function torem($value) {
    @return $value / $baseFontSize * 1rem;
}

@function toper($value,$valueBase) {
    @return $value / $valueBase * 100%;
}

/**/
* {
    -webkit-box-sizing: border-box; box-sizing: border-box;
    &:after, &:before {
        @extend *; 
    }
}

body, dl, dd, h1, h2, h3, h4, h5, p, figure, form, ul, ol, input { margin: 0; }
ul, ol, input, button { padding: 0;}
ul, ol, li { list-style: none;}
h1, h2, h3, h4, h5 { font-size: 100%;}
input, button { border: 0; outline: none;}
img { width: 100%;}
a, img, input, button, textarea { outline:none; -webkit-tap-highlight-color: rgba(0,0,0,0);}
a, img { -webkit-touch-callout: none;}
body { font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif; color: #333; background-color: #f5f5f9; position: relative;}
html { overflow-x: hidden}
html, body { -webkit-user-select: none; user-select: none; height: 100%; overflow-x: hidden;}
input, textarea, img { vertical-align: middle; }

a { 
    text-decoration:none;
    &:hover { text-decoration:none;}
}

.clearfix { zoom:1;}
.clearfix {
    &:before, &:after { content:""; display:table;}
    &:after { clear:both; @extend %els; }
}

%clearfix {
    @extend .clearfix;
}

%line { content: ''; position: absolute; left: 0; bottom: 0; right: 0; height: 0; line-height: 0; font-size: 0; overflow: hidden; border-bottom: 1px solid #e2e0e0; z-index: 3; @include transform(scaleY(.5));}

%vcenter { display: -webkit-box; -webkit-box-align: center;} //垂直居中
%hcenter { display: -webkit-box; -webkit-box-pack: center;} //水平居中
%vhcenter { @extend %vcenter, %hcenter;} //垂直水平居中

%els { overflow: hidden;white-space: nowrap;text-overflow: ellipsis; }

input {
    &::-webkit-outer-spin-button, &::-webkit-inner-spin-button { 
        -webkit-appearance: none !important; margin: 0;
    }
}
/*header*/
header { position: relative; height: torem(87); background-color: $white;
    &:after { @extend %line; border-color: #b2b2b2;}
    h1 { line-height: torem(87); text-align: center; font-size: torem(34);}
    .back-btn {
        position: absolute; color: #fa9600; font-size: torem(28); padding-left: torem(30); background: url(img/backbtn.png) no-repeat 0 50%/(torem(18) torem(36)); height: torem(87); top: 0; left: torem(20);
    }
}
/*animate css*/
.bounceIn {
    @include animation(bounceInDown .8s ease);
}
.bounceOut {
    @include animation(bounceOut .8s 2s ease both);
}
@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes bounceOut {
    20% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9);
    }

    50%, 55% {
        opacity: 1;
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    100% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
}
// @media all and (min-width:320px) { html {font-size: 10px;}}
// @media all and (min-width:360px) { html {font-size: 11.25px;}}
// @media all and (min-width:375px) { html {font-size: 11.71875px;}}
// @media all and (min-width:480px) { html {font-size: 15px;}}
// @media all and (min-width:640px) { html {font-size: 20px;}}
// @media all and (min-width:720px) { html {font-size: 24px;}}
